<% layout("layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" >
                <img class="card-img-top" src="<%= campground.image %> " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.name %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        <%= campground.price %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/update" class="card-link"> <button class="btn btn-primary">Update1</button></a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="card-link btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <div>
                    <%- include("../partials/flash.ejs") %> 
                    <form action="/campgrounds/<%= campground._id %>" method="post">
                        <div class="m-2">
                        <h1>Leave your review here!</h1>
                        <label for="rating" class="form-label">Star Rating</label>
                        <input type="range" class="form-range" min="0" max="5" step="1" value="3" id="rating" name="rating" oninput="this.nextElementSibling.value = this.value">
                        <output> 3</output>
                        <p>stars</p>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="body" name="body"></textarea>
                            <label for="body">Review</label>
                            <button class="btn btn-success m-2" type="submit">Submit</button>
                        </div>
                        </div>
                    </form>
                    <ul>
                        <% for(let review of campground.reviews){ %> 
                            <li>Review: <%= review.body %> Rating:<%= review.rating %>   </li>
                            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                            <button type="submit">Delete</button></form>
                            <% } %> 
                    </ul>
                </div>
            </div>

        </div>
    </div>
